body {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #323232;
	text-align: left;
	letter-spacing: .2px;
	font-family: 'Nunito', sans-serif;
	background-color: #f3f5f7;
}

header { background:url(../img/banner-bg.jpg) no-repeat center; background-size:cover; display:inline-block; width:100%  }
header .custom-padding-bottom { padding-bottom:70px;}
header .custom-login-btn { right:17%; top:0}
header .custom-iso-btn { right:0; top:0}



 .gift-card-main select.withd1 { width: 63px;}
 .gift-card-main select.withd2 { width: 110px;}
 .custom-max-width { max-width: 534px; }
.position-top-3 { position: relative; top: -2px; left: 4px;}

.marketing-popup-width { max-width: 700px;;}
.cashdiscount-pupup table tr td { padding: 10px !important;}

.border-remove-1 { border-left: 1px solid #ccc !important;    border-right: transparent !important;}
.border-remove-2 {border-left: transparent;    border-right: 1px solid #ccc !important;}

.table.custom-email-template-pd tbody tr td { padding:10px; border:none}


.agent-form-fld .form-control-1 { border-bottom:1px solid #dee2e6; border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff; width:100%; padding-bottom:10px; font-size:16px; color:#000}

.agent-form-fld .form-control-1 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */  color: #000;  opacity: 1; /* Firefox */}
.agent-form-fld .form-control-1 :-ms-input-placeholder { /* Internet Explorer 10-11 */  color: #000;}
.agent-form-fld .form-control-1 ::-ms-input-placeholder { /* Microsoft Edge */  color: #000;}
.agent-form-fld .form-control-1:focus {  outline:none;}
.pdf-logo{width: 110px;}

::placeholder {
  color: #b5b5b5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #b5b5b5;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #b5b5b5;
}

.cash_discount_benifits-main ul li {  padding-bottom: 10px;
    margin-bottom: 10px; border-bottom: 1px solid #ccc; list-style: none; }
.cash_discount_benifits-main ul li i { color: #218838; font-size: 12px;
    margin-right: 8px; }
     

@media print {

.display-none-pdf  { display: none !important;}
.print-set-mt .mt-3, .my-3 {    margin-top: 5px !important;}
.print-set-mt .smal-size-img .img-fluid {    max-width: 80% !important ;    padding: 4px !important; }

.print-set-mt .pb-3, .print-set-mt .py-3 {    padding-bottom: 10px;}
.print-set-mt .mb-3 {    margin-bottom: 6px!important;}
.print-set-mt .fs-24 {    font-size: 16px !important;}
.print-set-mt .col-xl-2 {    -ms-flex: 0 0 16.666667%;    flex: 0 0 16.666667%;    max-width: 14.666667%;    padding: 6px; text-align:center}
.print-set-mt .smal-size-img { margin-left:5px; text-align: center;    justify-content: center; margin-top:0 !important; margin-bottom:0 !important}
.print-set-mt .fs-16{    font-size: 12px !important; color:#323232; margin-left:5px; }
.agent-form-fld .form-control-1 {    font-size: 12px; }

.h1, .h2, .h3, h1, h2, h3 {    margin-top: 0px !important ;}

.print-set-mt .smal-size-img .fs-14 {    font-size: 11px !important;}

.fs-24.font-weight-bold.text-green.border-bottom.double_border.pb-3.mb-3 { margin-top:0 !important; padding-top:0 !important}
.pdf-logo{width: 67px !important;}

.pdf-width-1 { width:300px }
.pdf-width-2 { width:300px}
.pdf-width-3 { width:300px}
.agent-form-fld .form-control-1 {
    padding-bottom: 5px;

}
}


/*-- common css start /--*/
.w-100 {
    width: 100%!important;
}

.font-weight-bold {
    font-weight: 700!important;}
.rounded {
    border-radius: .25rem!important;
}
.bg-white {
    background-color: #fff!important;
}
/*-- common css end /--*/


/*-- MIn Users DropDowm /--*/

@media (min-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 24.5px 15px;
	}
}

@media (min-width: 992px) {

	.header-nav .nav-item.submenu:hover .dropdown-menu,
	.header-nav .nav-item.submenu .dropdown-menu.show {
		width: 480px !important;
		min-width: 100% !important;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		left: auto;
		right: 0;
		margin: 0px;
		padding: 0px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border: unset;
	}
}

@media (max-width:575px) {
	.header-nav .user-menu {
		max-width: 135px;
	}
}

/** == Navbar Css /==**/

/*== Dashboard column box ==*/
.content-middle-class {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* .content-middle {
	padding-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: calc(100% - 55px);
} */

.tile-progress {
	background-color: #303641;
	color: #fff;
	height: 100%;
}

.tile-progress {
	background: #00a65b;
	color: #fff;
	border-radius: 5px;
	background-clip: padding-box;
	border-radius: 3px;
}

.tile-progress .tile-header {
	padding: 15px 20px;
	position: relative;
	overflow: hidden;
}

.tile-progress .tile-progressbar {
	height: 2px;
	background: rgba(0, 0, 0, 0.18);
	margin: 0;
}

.tile-progress .tile-progressbar span {
	background: #fff;
}

.tile-progress .tile-progressbar span {
	display: block;
	background: #fff;
	width: 0;
	height: 100%;
	-webkit-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.tile-progress .tile-footer {
	padding: 12px 15px;
	text-align: right;
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0 0 3px 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0 0 3px 3px;
	-moz-background-clip: padding;
	border-radius: 0 0 3px 3px;
	background-clip: padding-box;
	border-radius: 0 0 3px 3px;
}

.tile-progress {
	background-color: #303641;
	color: #fff;
}

.tile-progress.tile-skyblue {
	background: #f57455;
}

.tile-footer.tile-dark-skyblue {
	background: #ed573f;
}

.tile-progress.title-skygreen {
	background-color: #a0ce6b;
}

.tile-footer.title-dark-skygreen {
	background: #84b540;
}

.tile-progress.tile-blue {
	background-color: #ffce55;
}

.tile-footer.tile-dark-blue {
	background-color: #f7bb41;
}

.tile-progress.tile-pink {
	background-color: #ea7782;
}

.tile-footer.tile-dark-pink {
	background-color: #e45e71;
}

.tile-progress.tile-light-green {
	background-color: #4cc1ed;
}

.tile-footer.tile-dark-light-green {
	background-color: #2baad3;
}

.tile-progress.tile-danger {
	background-color: #f79c81;
}

.tile-footer.tile-dark-danger {
	background-color: #ef725c;
}

.tile-progress.tile-green {
	background-color: #a591c6;
}

.tile-footer.tile-dark-green {
	background-color: #907cb9;
}

.tile-progress.tile-danger-light {
	background-color: #5cc3a8;
}

.tile-footer.tile-dark-danger-light {
	background-color: #2bab8a;
}

.tile-progress.tile-yellow {
	background-color: #47c3c1;
}

.tile-footer.tile-dark-yellow {
	background-color: #32a6a6;
}

.tile-progress.tile-green4 {
	background-color: #d4b64a;
}

.tile-footer.tile-dark-green4 {
	background-color: #c5a52d;
}

.tile-progress.tile-pink-light {
	background-color: #e987b6;
}

.tile-footer.tile-dark-pink-light {
	background-color: #d870ad;
}

.tile-progress.tile-dark-blue {
	background-color: #6697cf;
}

.tile-footer.tile-dark-dark-blue {
	background-color: #4c7fb6;
}

.decrease-text {
	min-height: 24px;
}

.small-icons i {
	font-size: 90px;
	position: absolute;
	right: -15px;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	bottom: -15px;
	opacity: 0.5;
}

/*== Dashboard column box /==*/
/*== Table Css ==*/
.table {
	border: 1px solid #dcdbdc;
}

.table .thead-blue tr th {
	background: #f2f5f9;
	color: #35393d;
	text-align: center;
	border-bottom: 1px;
}

.table tbody tr td {
	border-right: 1px solid #dcdbdc;
	vertical-align: middle;
	padding: 3px 5px;
	height: 28px;
	min-height: 28px;
	max-height: 100%;
}

.table tbody tr td .custom-check {
	text-align: center;
}

.table thead tr th .custom-check input[type="checkbox"]:checked + label span, .table tbody tr td .custom-check input[type="checkbox"]:checked + label span {
	background: url(../img/check.svg) center center no-repeat / 11px 9px;
	width: 20px;
	height: 20px;
}

.table thead tr th .custom-check input[type="checkbox"] + label span, .table tbody tr td .custom-check input[type="checkbox"] + label span {
	width: 20px;
	height: 20px;
	margin-top: 0px;
}

.table thead th {
	border: 0px;
	padding: 6px;
}
.tab_content {
	display: none;
}

.tab_drawer_heading {
	display: none;
}

.table tbody tr:nth-child(even) {
	background: #f9f9f9;
}

.table tbody tr:nth-of-type(odd):hover,
.table tbody tr:nth-child(even):hover {
	background: #dfe5ef !important;
}

.divhide,
.divhide2 {
	display: none;
}

.divhide.showdiv,
.divhide2.showdiv {
	display: block;
}

/*== Table Css /==*/

/*== Punch Card Rewards page ==*/
.project-tab #tabs {
	background: #007b5e;
	color: #eee;
}

.project-tab #tabs h6.section-title {
	color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #0062cc;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 3px solid !important;
	font-size: 16px;
	font-weight: 600;
}

.project-tab .nav-link {
	border: none;
	color: #323232;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 50px;
}

.project-tab .nav-link:hover {
	border: none;
}

.project-tab thead {
	background: #f2f5f9;
	color: #35393d;
}

.project-tab a {
	text-decoration: none;
	color: #333;
}

/*== Custom Check ==*/
.custom-check div {
	display: inline-block;
}

.custom-check input[type="checkbox"] {
	display: none;
}

.custom-check input[type="checkbox"] + label {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 0px;
	font-weight: 600;
}

.custom-check input[type="checkbox"] + label span {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;
	border: 2px solid #dcdbdc;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	line-height: 44px;
	margin-top: 5px;
	border-radius: 100%;
}

.custom-check input[type="checkbox"] + label span img {
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.custom-check input[type="checkbox"]#color-1 + label span {
	background-color: #fff;
}

.custom-check input[type="checkbox"]:checked + label span {
	opacity: 1;
	background: url(../img/check.svg) center center no-repeat;
	background-size: 14px 14px;
	width: 24px;
	height: 24px;
	display: inline-block;
	border: 2px solid #3677d3;
}

.onoffswitch2 {
	position: relative;
	width: 90px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch2-checkbox {
	display: none;
}

.onoffswitch2-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #3775eb;
	border-radius: 100px;
	margin-bottom: 0px;
}

.onoffswitch2-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-webkit-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before,
.onoffswitch2-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.onoffswitch2-inner:before {
	content: "ON";
	padding-left: 15px;
	text-align: left;
	background-color: #3f8af2;
	color: #fff;
}

.onoffswitch2-inner:after {
	content: "OFF";
	padding-right: 15px;
	background-color: #fff;
	color: #323232;
	text-align: right;
}

.onoffswitch2-switch {
	display: block;
	width: 30px;
	margin: 0px;
	background: #FFFFFF;
	border: 2px solid #3775eb;
	border-radius: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 60px;
	-webkit-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(top, center), color-stop(0%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
	background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
	margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
	right: 1px;
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 60px;
	height: 30px;
	background-color: #dddddd;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 22px;
	background-color: #dddddd;
	border-radius: 52px;
	-webkit-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
	background-color: #27A1CA;
}

input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 45px;
	background-color: #27A1CA;
}

footer {
	width: 100%;
}

.collapse-icon::before {
	content: "\e93b";
	font-size: 18px;
	font-family: 'custom-font' !important;
	position: absolute;
	right: 0px;
}

.collapse-icon.collapsed::before {
	content: "\e949";
	font-size: 18px;
	font-family: 'custom-font' !important;
	position: absolute;
	right: 0px;
}

.note-date-h {
	height: 240px;
	overflow-y: auto;
}

.radio {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	margin-bottom: 0px;
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 2px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 5px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #428bca;
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
}

.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}

.radio.radio-inline {
	margin-top: 0;
}

.checkbox {
	padding-left: 4px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	top: 0px;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0px;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'custom-font' !important;
	content: "\e90d";
}

.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

/*== Custom Check /==*/

/*== Scrollbsr ==*/
::-webkit-scrollbar {
	width: 4px;
	height: 4px
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 10px;
}

[data-href] {
	cursor: pointer;
}

/*== Scrollbsr /==*/

.bg-none.table tbody tr.border-none td {
	border: none;
}

.mobile-accordion .tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #ced4da;
	width: 100%;
}

.mobile-accordion .tabs li {
	float: left;
	cursor: pointer;
	color: #606060;
	font-weight: 600;
	overflow: hidden;
	position: relative;
}

.mobile-accordion .tabs li a {
	padding: 10px 10px;
}

.mobile-accordion .tabs li a:hover {
	color: #333;
}

.mobile-accordion .tabs li.active {
	color: #346de8;
	border-bottom: 3px solid #346fe9;
	display: block;
}

.mobile-accordion .tabs li.active .active-text-green {
	color: #84b540 !important;
	background: #fff;
	padding: 15px 25px;
}
.mobile-accordion .tabs li .active-text-green {
	padding: 15px 25px;
}

.tab_container {
	border-top: none;
	clear: both;
	width: 100%;
}

.TableNewShow.TableShow {
	width: 50%;
	display: block !important;
	max-width: 50%;
}

.more-option .dropdown-menu a {
	padding: 6px 10px;
	font-size: 14px;
	color: #606060;
}

.more-option .dropdown-menu a:hover {
	background: #3a7bff;
	color: #fff;
}

.more-option .dropdown-menu {
	left: auto;
	right: 0;
	padding: 0;
}

.before-none .dropdown-toggle::after {
	display: none;
}

.bootstrap-select .dropdown-toggle {
	height: 35px;
	background: #fff;
	border: 1px solid #ced4da
}

.form-group.inputDnD.plus-icons {
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 100%;
}

.form-group.inputDnD.plus-icons .form-control-file:before {
	left: 0;
	right: 00;
	top: 0;
	bottom: 0;
	border-radius: 100%;
	min-height: 60px;
	padding-top: 0px;
	z-index: 5;
}

.form-group.inputDnD.plus-icons .fa-plus_round {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 38px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #dcdbdc;
}

/*--- Inpit Files --*/
.js .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	max-width: 80%;
	font-size: 1.25rem;
	/* 20px */
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
}

.js .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	max-width: 80%;
	font-size: 1.25rem;
	/* 20px */
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	/* 10px 20px */
}

.input-container {
	background-color: #fff;
	border: 2px dashed #dcdbdc;
	border-radius: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

input[type='file'] {
	visibility: hidden;
}

.file-manage {
	position: absolute;
}

.file-info {
	font-size: 15px;
}

.browse-btn {
	background: none;
	color: #000;
	min-height: 35px;
	border: none;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.browse-btn:hover {
	background: none;
}

/*--- Inpit Files /--*/


/*-- Show More Options --*/
.morecontent span {
	display: none;
}

.morelink {
	display: block;
	margin-top: 6px;
	font-size: 13px;
}

/*-- Show More and Less More /--*/

.ellipsis-size .ell-show {
	width: 70px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: .2s;
	transition: .2s;
	text-overflow: ellipsis;
}

.ellipsis-size:hover .ell-show {
	text-overflow: inherit;
	overflow: hidden;
	width: 100%;
}

#MakeRecurring .modal-dialog-centered {
	max-width: 640px;
}

/*== LogIn ==*/
.login-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 60px 0;
	width: 100%;
}

.top-logo-login {
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 100%;
	top: -30px;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.15);
}

.documents-tr,
.Order-tr {
	display: none;
}

.Order-tr.Order-tr-show,
.documents-tr.documents-tr-show {
	display: table-row;
}

.fa-PlusMinus {
	position: relative;
}

.fa-PlusMinus:before {
	content: "\e949";
	font-size: 18px;
	font-family: 'custom-font' !important;
}

.documents-tr-show .fa-PlusMinus:before,
.Order-tr-show .fa-PlusMinus:before {
	content: "\e93b";
	font-size: 18px;
	font-family: 'custom-font' !important;
}

button:focus {
	outline: none;
}

.table-striped tbody tr:nth-of-type(odd) {
	background: none;
}

/*== Colors ==*/
.colors-palettes .radio {
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.colors-palettes .radio label {
	display: inline-block;
	position: relative;
	padding-left: 0;
	margin-bottom: 0px;
	height: 30px;
	width: 30px;
}

.colors-palettes .radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	margin-left: 0;
	border: 1px solid #cccccc;
	border-radius: 4px;
	background: none;
	border: none;
	-webkit-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

.colors-palettes .radio label::after {
	display: inline-block;
	position: absolute;
	content: "\e90d";
	font-size: 14px;
	color: #fff;
	font-family: 'custom-font' !important;
	width: 11px;
	height: 11px;
	left: 28px;
	top: 5px;
	border-radius: 4px;
	background: none;
	border: none;
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.colors-palettes .radio input[type="radio"] {
	opacity: 0;
	position: absolute;
}

.colors-palettes .radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.colors-palettes .radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.colors-palettes .radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}

.colors-palettes .radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}

.colors-palettes .radio.radio-inline {
	margin-top: 0;
}

/*== Emojis ==*/
.emojis-collection {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.emojis-collection .nav-items {
	display: inline-block;
	width: 33px;
	padding: 4px;
}

.emojis-collection .nav-items:hover {
	/*	padding: 0;*/
}

/*== Progress Bar ==*/
.sorting_1 {
	/*text-align: center;*/
}

.sorting_1 .progress {
	height: 6px;
	margin-top: 5px;
}

.Calendar-Section.CalendarOpen {
	display: block !important;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.preloader::after {
	background: rgba(0, 0, 0, 0.15);
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 99;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #1987ff;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 99999;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #47a5b8;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
	z-index: 99999;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #1b5adc;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	z-index: 99999;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#loader {
	display: none;
}

.emoji_picker, .emojiPickerIconWrap {
	width: 100% !important;
}

.emojiPickerIcon {
	width: 35px !important;
	height: 35px !important;
}

.StatusFilterTab {
	cursor: pointer;
}

label.duedateRange {
	font-size: 12px;
}

.login-wrapper .dropdown-item.active,
.login-wrapper .dropdown-item:active {
	background: #f8f9fa;
	color: #16181b;
}

.Check-balance {
	background: url(../img/bg.jpg) no-repeat center center;
	border-radius: 25px;
	width: 500px;
	height: 315px;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 18px;
}

.gift-shap { width: 300px; }
.gift-reward { width: 100px; }

.search-under-icons-p {
	position: absolute;
	right: 0px;
	top: 22%;
	font-size: 18px;
}

.flip-card {
	border-radius: 25px;
	width: 500px;
	height: 315px;
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: 27px;
	border: 1px solid #3a3a3a;
}

.flip-card.show-card .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 25px;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
	padding: 18px;
}

.flip-card-back {
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	transform: rotateY(180deg);
	background: #f7f7f7;
}

.gift-card_editor { position: relative; overflow: hidden; border-radius:22px; width: 500px; height: 315px; }
.card_drag_and_drop { position: absolute; padding: 15px;}
.Pos-linked {
	overflow-y: auto;
	max-height: 66vh;
	height: auto;
}
.the-demo {
	border:1px dotted #ccc;
	text-align:left;
	border-radius:5px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.first-data-show .flip-data-on { display: block !important; transition: all .175s;}
.first-data-show .flip-data-off { display: none !important; transition: all .175s;}
.punch-default {
	font-weight: 600;
}
.punch-default.show-color:hover,
.punch-default.show-color:focus,
.punch-default.show-color:active,
.punch-default.show-color {
	background: none !important;
	border: transparent 1px solid !important;
	color: #28a745 !important;
	box-shadow: none !important;
	cursor: inherit;
}
/*-- virtual-tabs css --*/
.virtual-tabs .nav-tabs .nav-link.active {
	background: #fff;
	border: none !important;
	border-radius: 0;
	color: #858585;
}

.virtual-tabs #tabs .nav-tabs .nav-item.show .nav-link,
.virtual-tabs .nav-tabs .nav-link:focus,
.virtual-tabs .nav-tabs .nav-link:hover,
.virtual-tabs .nav-tabs .nav-link {
	border: none !important;
	padding: 15px 41px;
	border-radius: 0;
	color: #858585;
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link:focus,
.virtual-tabs .virtual-steps .nav-tabs .nav-link:hover,
.virtual-tabs .virtual-steps .nav-tabs .nav-link,
.virtual-tabs .virtual-steps #tabs .nav-tabs .nav-item.show .nav-link {
	background: #f8f9fa;
	border: none !important;
	padding: 10px 15px;
	border-radius: 6px;
	color: #212529;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.active {
	border: none !important;
	background: #28a745;
	border-radius: 6px;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.active:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 13px solid #ab5d5d;
	position: absolute;
	bottom: -12px;
	left: 50%;
	content: "";
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.greenafter.active {
	background: #28a745 !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.greenafter.active:after {
	border-top: 13px solid #28a745 !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.redafter.active {
	background: #dc3545 !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.redafter.active:after {
	border-top: 13px solid #dc3545 !important;
	display: none;
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.yellowfter.active {
	background: #e6900a !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.yellowfter.active:after {
	border-top: 13px solid #e6900a !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.greenlightfter.active {
	background: #84b540 !important
}

.virtual-tabs .virtual-steps .nav-tabs .nav-link.greenlightfter.active:after {
	border-top: 13px solid #84b540 !important;
	display: none;

}

.nav-tabs .nav-link.active-text-green-light.active {
	color: #84b540 !important;
	background: #fff !important;
}

.nav-tabs .nav-link.active-text-yellow.active {
	color: #e6900a !important;
	background: #fff !important;
}

.nav-tabs .nav-link.active-text-red.active {
	color: #dc3545 !important;
	background: #fff !important;
}

.nav-tabs .nav-link.active-text-green.active {
	color: #28a745 !important;
	background: #fff !important;
}

/*-- virtual-tabs css /--*/
/*-- Float Btns --*/
.material-button-anim {
	text-align: center;
	max-width: 320px;
	position: fixed;
	right: 25px;
	top: 100px;
	z-index: 2;
}

.material-button {
	position: relative;
	top: 0;
	z-index: 1;
	font-size: 24px;
	color: #fff;
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
	outline: none;
	line-height: 57px;
	padding-top: 0px;
}

.material-button-toggle {
	z-index: 3;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 58px;
}

.list-inline.scale-on {
	height: 145px;
	opacity: 1;
	-webkit-transition: all .175s;
	transition: all .175s;
	position: absolute;
	right: 3px;
}

.list-inline .option {
	margin: 6px 0;
}

.list-inline .option .btn {
	width: 44px;
	height: 44px;
	line-height: 38px;
	font-size: 18px;
}

/*-- Float Btns --*/
/*-- Filter Dropdown css --*/
.ui-autocomplete {
	z-index: 999999 !important;
}

div.ColVis_collectionBackground {
	display: none;
}

ul.ColVis_collection {
	background: #fff;
	border: none;
	padding: 15px;
	width: 100%;
	min-width: 150px;
	max-width: 210px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
	max-height: 211px;
	overflow-y: auto;
}

ul.ColVis_collection label span {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

ul.ColVis_collection label span::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	top: 0px;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

ul.ColVis_collection label span::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0px;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

ul.ColVis_collection label input[type="checkbox"] {
	opacity: 0;
}

ul.ColVis_collection label input[type="checkbox"]:focus + span::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

ul.ColVis_collection label input[type="checkbox"]:checked + span::after {
	font-family: 'custom-font' !important;
	content: "\e90d";
}

ul.ColVis_collection label input[type="checkbox"]:disabled + span::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

button.ColVis_Button {
	font-size: 20px;
	border: none;
	background: #fff;
	padding: 5px;
	margin: 0;
	line-height: 16px;
}

.ColVis_Button:hover {
	border: none;
	background: #fff;
}

ul.ColVis_collection li:hover {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul.ColVis_collection label {
	margin-bottom: 0px;
}

ul.ColVis_collection li {
	margin-bottom: 15px;
	padding: 0px 0px 0px 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: navajowhite;
	background: no-repeat;
}

ul.ColVis_collection li:last-child {
	margin-bottom: 0px;
}

.ColVis {
	margin-bottom: 0px !important;
	margin-left: 5px;
}
.addpayroll {
	padding: 2px 8px !important;
	height: 30px;
}

/*-- Filter Dropdown css /--*/

.user-invoice-logo {
	position: relative;
	overflow: hidden;
	padding: 15px;
}

.select-logo {
	display: none;
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.user-invoice-logo:hover .select-logo {
	display: block !important;
	z-index: 2;
	-webkit-transition: all .15s;
	transition: all .15s;
}

.user-invoice-logo .file-manage {
	position: absolute;
	top: 5px;
	left: 3px;
}

.user-invoice-logo:hover::after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
	-webkit-transition: all .15s;
	transition: all .15s;
}

/*== Inventory css ==*/
.invoice-green-light .table .thead-blue tr th {
	background: #7c934b;
	color: #fff;
}

.invoice-green-light tbody tr:nth-child(even) {
	background: #f2eadf
}

.invoice-green-light tbody tr:nth-child(odd) {
	background: #fff
}

.invoice-green-light tbody tr:nth-child(even):hover,
.invoice-green-light tbody tr:nth-child(odd):hover {
	background: #f9ebd9 !important;
}

.invoice-green-light tbody tr td.Total {
	background: #f2eadf;
	border-top: 4px solid #000 !important;
}

.invoice-green-light-bg {
	background: #7c934b;
}

.invoice-green-light-text {
	color: #7c934b;
}

.invoice-primary .table .thead-blue tr th {
	background: #1d89c9;
	color: #fff;
}

.invoice-primary tbody tr:nth-child(even) {
	background: #e7f0f9
}

.invoice-primary tbody tr:nth-child(odd) {
	background: #fff
}

.invoice-primary tbody tr:nth-child(even):hover,
.invoice-primary tbody tr:nth-child(odd):hover {
	background: #bbdbfb !important;
}

.invoice-primary-bg {
	background: #1d89c9;
}

.invoice-primary-text {
	color: #3993c7;
}

.invoice-primary tbody tr td.Total {
	background: #e7f0f9;
	border-top: 4px solid #000 !important;
}

.invoice-btn-primary .table .thead-blue tr th {
	background: #1d89c9;
	color: #fff;
	margin: 2px
}

.invoice-btn-primary tbody tr:nth-child(even) {
	background: #e7f0f9
}

.invoice-btn-primary tbody tr:nth-child(odd) {
	background: #fff
}

.invoice-btn-primary tbody tr:nth-child(even):hover,
.invoice-btn-primary tbody tr:nth-child(odd):hover {
	background: #bbdbfb !important;
}

.invoice-btn-primary-bg {
	background: #1d89c9;
}

.invoice-btn-primary-text {
	color: #3993c7;
}

.invoice-btn-primary tbody tr td.Total {
	background: #e7f0f9;
	border-top: 4px solid #000 !important;
}

/*-- Table fix column --*/
#taskSubjectList .global-action-icon,
#TaksListing .task-action-icon,
#taskSubjectList .task-action-icon,
#taskPriorityList_wrapper .task-action-icon,
#taskStatusList .task-action-icon,
#customer_list .task-action-icon {
	width: 72px;
	text-align: center;
}

#taskSubjectList .task-id,
#taskPriorityList_wrapper .task-id,
#taskStatusList .task-id { width: 60px; }

#taskStatusList .progress-color { width: 150px; }
#TaksListing_wrapper .progress {
	height: 6px;
}

#customer_list .ellipsis-size, #employeeList .ellipsis-size {
	width: 90px;
}
#customer_list .sorting_1 {
	width: 50px;
}
#customer_list .commin-w { width: 90px; }
#customer_list .price-w { width: 40px; }

#employeeList .employee-action-icon, #employeeList .phone-number  {
	width: 95px;
}

#employeeList .birthdate {
	width: 70px;
}

#employeeList td.active {
	width: 40px;
}

#manage_vendorList .amount {
	width: 90px;
}

#manage_vendorList .phone {
	width: 160px;
}

#manage_vendorList .date, #manage_vendorList .action {
	width: 60px;
}


#inventoryList .ellipsis-size {
	width: 90px;
}

#inventoryList .inventory-action-icon {
	width: 70px;
	text-align: center;
}
#inventoryList .price, #inventoryList .quty, #inventoryList .inventory-alert, #inventoryList .Commission, #inventoryList .code, #inventoryList .price-fix, #inventoryList .sku {
	width: 40px;
}

#marketingList .sorting_1 { width: 20px; text-align: center; }
#marketingList .ellipsis-size, #marketingList .points { width: 60px; }
#marketingList .phone, #marketingList .birthdate {
	width: 100px
}

#customer_wrapper .sorting_1 { width: 15px; }
#customer_wrapper .ellipsis-size, #customer_wrapper .points { width: 60px; }
#customer_wrapper .phone {width: 140px; }
#customer_wrapper .custom-control-label::before, #customer_wrapper .custom-control-label::after {left: 0px; }


#customerIssue .sorting_1 { width: 15px; }
#customerIssue .ellipsis-size, #customerIssue .points, #customerIssue .date { width: 60px; }
#customerIssue .phone {width: 140px; }
#customerIssue .action {width: 100px; }

#puncardListIssued .amount { width: 15px; }
#puncardListIssued .ellipsis-size, #puncardListIssued .code, #puncardListIssued .date { width: 60px; }
#puncardListIssued .phone {width: 120px; min-width: 100px;}
#puncardListIssued .action {width: 100px;}

#puncardList_wrapper .sorting_1 { width: 15px; }
#puncardList_wrapper .ellipsis-size, #puncardList_wrapper .points { width: 60px; }
#puncardList_wrapper .phone {width: 110px; }

#order .sorting_1 { width: 15px; }
#order .ellipsis-size, #order .points, #order .amount, #order .date{ width: 60px; }
#order .phone {width: 110px; }

#recurringInvoiceList .ellipsis-size, #recurringInvoiceList .type, #recurringInvoiceList .amount, #recurringInvoiceList .date, #recurringInvoiceList .status, #recurringInvoiceList .months { width: 60px; }
#recurringInvoiceList .action {width: 110px; }

#InvoiceListingtbl .active { width: 30px; }
#InvoiceListingtbl .ellipsis-size, #InvoiceListingtbl .type, #InvoiceListingtbl .amount, #InvoiceListingtbl .status, #InvoiceListingtbl .months, #InvoiceListingtbl .points, #InvoiceListingtbl .refund { width: 60px; }
#InvoiceListingtbl .date { width: 86px; }
#InvoiceListingtbl .action {width: 110px; }
#InvoiceListingtbl .tag-id { width: 20px; }

#appointment_list_wrapper .item-id { width: 30px; }
#appointment_list_wrapper .date { width: 60px; }
#appointment_list_wrapper .action {width: 100px; text-align: center; }

#customer_list .ellipsis-size { width: 90px; }
#customer_list .status { width: 60px; }
#customer_list .phone { width: 100px; }
#customer_list .action {width: 160px; text-align: center; }

#Vendor_Product_List .order { width: 30px; }
#Vendor_Product_List .ellipsis-size { width: 90px; }
#Vendor_Product_List .date, #Vendor_Product_List .price { width: 60px; }
#Vendor_Product_List .qty { width: 80px; }

/*-- Table fix column /--*/
.emojiPickerIconWrap .black {
	border-top-right-radius: 6px;
}

.modal-content {
	border: none; border-radius: 8px;
}

.expandtable {
	cursor: pointer;
}

.marketing-message {
	max-width: 400px;
	width: 100%;
}

.dataTables_filter label { margin-bottom: 0px; }


/*--- first time reward ---*/
.first-time-reward {
	background-color: #2a3587;
	background-image: url(../img/first_top_shap.png);
	background-size: calc(100% + 1px) auto;
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 15px;
	position: relative;
	width: 432px;
	height: 559px;
	margin: 0 auto;
}

.first-time-reward .bottom-bg {
	background-image: url(../img/first_light_bottom.png);
	background-repeat: no-repeat;
	background-size: calc(100% + 1px) auto;
	background-position: bottom center;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 190px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: 0
}

.first-time-reward .bottom-reward { width: 268px; }

.come-back-reward form, .first-time-reward form, .punch-card-reward form, .refer-friend-reward form {
	position: relative;
	z-index: 1
}

.come-back-reward {
	background: #6d4688;
	border-radius: 15px;
	position: relative;
	width: 432px;
	height: 559px;
	margin: 0 auto
}
.come-back-reward .img {
	background-image: url(../img/come_back_reward.png);
	background-repeat: no-repeat;
	background-size: calc(100% + 1px) auto;
	background-position: top center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.come-back-reward .bottom-bg {
	background-image: url(../img/come_light_bottom.png);
	background-repeat: no-repeat;
	background-size: calc(100% + 1px) auto;
	background-position: bottom center;
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 270px;
	z-index: 0
}

.refer-friend-reward {
	background: #3f54b1;
	border-radius: 15px;
	position: relative;
	width: 432px;
	height: 559px;
	margin: 0 auto;
	padding: 15px;
}

.manage-rewards .location-icon, .first-time-reward .location-icon, .refer-friend-reward .location-icon { width: 40px; height: 40px; }
.refer-friend-reward .img {
	background-image:  url(../img/refer-reward.png);
	background-size: calc(100% + 1px) auto;
	background-position: top center;
	background-repeat: no-repeat;
	padding: 20px 15px 15px 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.refer-friend-reward .bottom-bg {
	background-image: url(../img/refer-bottom-reward.png);
	background-size: calc(100% + 1px) auto;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 225px;
	z-index: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.manage-rewards {
	background: #00b1ef;
	border-radius: 15px;
	position: relative;
	width: 432px;
	height: 559px;
	margin: 0 auto;
}
.manage-reward-img {
	width: 287px;
}
.manage-rewards .img {
	background-image: url(../img/manage-top.png);
	background-repeat: no-repeat;
	background-size: calc(100% + 1px) auto;
	background-position: top center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 15px;
}

.punch-card-reward {
	background-color: #01008a;
	background-image: url(../img/punch-card.png);
	background-size: calc(100% + 1px) auto;
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 15px;
	position: relative;
	width: 432px;
	height: 559px;
	margin: 0 auto;
	padding: 15px;
}

.punch-card-reward .bottom-bg {
	background-image: url(../img/first_light_bottom.png);
	background-repeat: no-repeat;
	background-size: calc(100% + 1px) auto;
	background-position: bottom center;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 190px;
	z-index: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.punch-card-rate {
	border-radius: 100%;
	height: 110px;
	width: 110px;
	min-height: 110px;
	min-width: 110px;
	box-shadow: 0px 0px 10px rgba(214, 199, 148, 1.0);
	margin: 0px auto;
	font-size: 50px;
	transform: rotate(-15deg);
	color: #201c96 !important;
}

.punch-items {
	background: #fff;
	border-radius: 100%;
	height: 46px;
	width: 46px;
	font-size: 20px;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #01008a;
	margin: 3px 2px;
	cursor: pointer;
}
.punch-items.active, .punch-items.activet {
	background: #f57e20;
	border: 3px solid #fff;
	color: #fff;
}

.custom-file-upload input[type="file"] {
	display: none;
	visibility: inherit;
}
.custom-file-upload .custom-file-upload1 {
	display: inline-block;
	padding: 16px 22px;
	cursor: pointer;
	margin-bottom: 0;
	background: #ececec;
}
.max-w-80 { max-width: 80px; }
/*--- first time reward /---*/


/*-- Order Gift Card --*/
.step {
	list-style: none;
	margin: .2rem 0;
	width: 100%;
	border-bottom: none;
}

.step .step-item {
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	margin-top: 0;
	min-height: 1rem;
	position: relative;
	text-align: center;
}

.step .step-item:not(:first-child)::before {
	background: #2aa454;
	content: "";
	height: 2px;
	left: -50%;
	position: absolute;
	top: 9px;
	width: 100%;
}

.step .step-item a {
	color: #2aa454;
	display: inline-block;
	padding: 30px 10px 0;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
}

.step .step-item {
	counter-increment: my-sec-counter;
}
.step .step-item a::before {
	background: #2aa454;
	border-radius: 50%;
	content: counter(my-sec-counter);
	display: block;
	height: 30px;
	left: 50%;
	position: absolute;
	top: -4px;
	transform: translateX(-50%);
	width: 30px;
	z-index: 1;
	font-weight: 700;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
}

.step .step-item.activet a.active::before {
	background: #2aa454;
	color: #fff;
	font-weight: 700;
}
.step .step-item a.active {
	color: #2aa454;
	font-weight: 700;
}
.step .step-item.activet ~ .step-item a {
	color: #000000;
	font-weight: 600;
}
.step .step-item.activet ~ .step-item::before {
	background: #e7e9ed;
}
.step .step-item.activet ~ .step-item a::before {
	background: #e7e9ed;
	color: #000;
}
.step .step-item a.active::before {
	background: #2aa454 !important;
	color: #fff !important;
}
.step .step-item .active {
	border: none !important;
}
.step.nav-tabs .step-item .nav-link:focus, .step.nav-tabs .step-item .nav-link:hover {
	border: none !important;
	outline: none !important;
}
.card-img {
	width: 100%;
	border-radius: calc(.25rem - 1px);
	position: relative;
	border-radius: 10px;
}

.card-img.active::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	content: "";
	border-radius: 10px;
}
.card-customize {
	opacity: 0;
	position: absolute;
	z-index: 6;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0px);
}
.card-img.active .card-customize {
	opacity: 1;
	bottom: 40%;
	transition-delay: .5s;
}
.gift-cards {
	box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.18);
}
label.card-check {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
}
.checkmark {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 35px;
	width: 35px;
	background-color: none;
	border-radius: 6px;
	z-index: 5
}

.card-check:hover input ~ .checkmark {
	background: none;
}

.card-check input:checked ~ .checkmark {
	border: 3px solid #fff;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.card-check input:checked ~ .checkmark:after {
	display: block;
}

.card-check .checkmark:after {
	top: 6px;
	left: 9px;
	width: 8px;
	height: 8px;
	content: "\e90d";
	color: #fff;
	font-family: "custom-font";
}
.card-check input[type=checkbox], .card-check input[type=radio] {
	opacity: 0;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.payment-tabs .nav-fill {
	border-bottom: none !important;
}
.payment-tabs .nav-tabs .nav-link, .payment-tabs .nav-tabs .nav-link:focus, .payment-tabs .nav-tabs .nav-link:hover, .payment-tabs .nav-tabs .nav-link.active {
	border: none !important;
}
.payment-tabs .nav-tabs .nav-link .tab-box .tab-box-border {
	border-radius: 4px;
	border: 2px solid !important;
	color: #dee2e6;
	width: 130px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 70px !important;
}
.payment-tabs .nav-tabs .nav-link .tab-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.payment-tabs .nav-tabs .nav-link {
	width: 25%;
}
.payment-tabs .nav-tabs .nav-link .tab-box p { color: #535353 }
.payment-tabs .nav-tabs .nav-link.active .tab-box .tab-box-border { border-color: #2aa454 !important;}
.payment-tabs .nav-tabs .nav-link.active .tab-box p { color: #2aa454; }



.template__content {
	padding: 15px;
	position: relative;
	z-index: 2;
}

.template__interactive {
	left: 0;
	top: -10px;
	border-radius: 0 5px 5px 0;
	padding: 0 10px 0 30px;
	z-index: 1000;
	position: absolute;
	background-color: #f45a38;
	height: 25px;
	text-transform: uppercase;
	line-height: 25px;
}

.template__title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	height: 30px;
	max-height: 100px;
}
.email-flyer-item-list:hover .popover-btn {
	display: flex;
	justify-content: center;
}
.email-flyer-item-list .popover-btn {
	text-align: center;
	z-index: 2;
	display: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	bottom: 50%;
}

.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 30px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 5px 10px;
	display: flex;
}

.search_input {
	color: #000;
	border: 0;
	outline: 0;
	width: 100%;
	background: none;
}
.search_icon {
	color: #000;
	text-decoration: none;
}
.searchbar:hover > .search_input {
	width: 100%;
}
.searchbar:hover > .search_icon {
	color: #000;
}
.search_icon {
	justify-content: center;
	align-items: center;
	display: flex;
}

.serach-customer-list {
	max-height: 300px;
	width: 100%;
	overflow-y: auto;
}
/*-- Email Flyer Editor /--*/

/*--- Clover Flyers ----*/
.clover_flyer {
	background-image: url(../img/1_flyer.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100% auto;
}


.double_border {
	position: relative;
}
.double_border::after {
	position: absolute;
	content:"";
	bottom: -2px;
	left: 0;
	width: 100px;
	border-bottom:3px solid #29a744;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -16px;
	margin-left: -16px;
}

@media (max-width: 2560px) {
	.CurrentActive .ColVis_collection {
		right: 720px !important;
		left: auto !important;
	}

	.payrollreport.CurrentActive .ColVis_collection {
		right: 1025px !important;
		left: auto !important;
	}
}

@media (max-width: 1920px) {
	.CurrentActive .ColVis_collection {
		right: 420px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 705px !important;
	}
}

@media (max-width: 1600px) {
	.CurrentActive .ColVis_collection {
		right: 260px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 545px !important;
	}
}

@media (max-width: 1440px) {
	.CurrentActive .ColVis_collection {
		right: 180px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 465px !important;
	}
	.modal-scroll.modal-body {    overflow-y: scroll;    overflow-x: hidden;    max-height: 500px;}
}

@media (max-width: 1366px) {
	.CurrentActive .ColVis_collection {
		right: 180px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 425px !important;
	}
	.modal-scroll.modal-body {    overflow-y: scroll;    overflow-x: hidden;    max-height: 400px;}

}

@media (max-width: 1280px) {
	.CurrentActive .ColVis_collection {
		right: 100px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 385px !important;
	}
}

@media (max-width: 1200px) {
	.CurrentActive .ColVis_collection {
		right: 60px !important;
	}
	.payrollreport.CurrentActive .ColVis_collection {
		right: 345px !important;
	}
	.cash-discount-program-responsive { margin:0}
}

@media screen and (max-width: 1199px) {
	.tab_drawer_heading {
		background: white;
		color: black;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		margin-bottom: 20px;
		padding: 10px 15px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 18px;
		position: relative;
		line-height: 24px;
	}

	.d_active {
		background: rgba(27, 138, 242, 1);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(27, 138, 242, 1)), color-stop(100%, rgba(49, 107, 231, 1)));
		background: -webkit-gradient(linear, left top, right top, from(rgba(27, 138, 242, 1)), to(rgba(49, 107, 231, 1)));
		background: linear-gradient(to right, rgba(27, 138, 242, 1) 0%, rgba(49, 107, 231, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b8af2', endColorstr='#316be7', GradientType=1);
		color: #fff;
		font-size: 16px;
		border: 1px solid transparent;
	}

	.tab_drawer_heading::before {
		content: "\e917";
		display: block;
		position: absolute;
		right: 15px;
		font-family: 'custom-font' !important;
		font-size: 14px;
	}

	.tab_drawer_heading.d_active::before {
		content: "\e969";
		display: block;
		position: absolute;
		right: 15px;
		font-family: 'custom-font' !important;
		font-size: 14px;
	}
	#reward-template {
		left: 100px;
		width: 170px;
		bottom: 130px;
		max-height: 220px;
	}

	div#tnt_1 {
		bottom: 80px;
		left: 115px;
		width: 158px;
		max-height: 220px;
	}

	div#tnt_2 {
		bottom: 80px;
		left: 145px;
		width: 158px;
		max-height: 210px;
	}

	div#tnt_3 {
		left: 148px;
		width: 148px;
		max-height: 200px;
		bottom: 80px;
	}

	div#tnt_4 {
		left: 136px;
		max-height: 196px;
		width: 143px;
		bottom: 86px;
	}

	div#tnt_5 {
		left: 168px;
		bottom: 70px;
		width: 184px;
		max-height: 240px;
	}

	div#tnt_6 {
		left: 149px;
		width: 158px;
		bottom: 80px;
		max-height: 220px;
	}

	div#tnt_7 {
		left: 143px;
		bottom: 80px;
		max-height: 215px;
		width: 162px;
	}
	div#tnt_8 {
		left: 141px;
		bottom: 130px;
		width: 133px;
		max-height: 180px;
	}

	div#tnt_9 {
		left: 151px;
		max-height: 195px;
		width: 135px;
		bottom: 110px;
	}

	div#tnt_10 {
		left: 132px;
		width: 148px;
		bottom: 97px;
		max-height: 200px;
	}

	/*-- Email template --*/
	.type_email_text {
		position: relative;
		width: 560px;
		margin: 0 auto;
	}



}

@media (max-width: 1024px) {
	.payrollreport.CurrentActive .ColVis_collection {
		right: 45px !important;
	}
}

@media (max-width:991px) {
	.type_new {
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}

}

@media (max-width: 767px){
	.first-time-reward .bottom-bg {
		height: 200px;
	}
	.refer-friend-reward .img {
		padding-top: 250px;
	}

	.total-monthly-cost-responsive { margin:0}


}

@media (min-width: 576px) {
	.w-sm-75 { width: 75% !important }
}

@media (max-width: 575px) {
	.type_email_text {
		width: 288px;
	}


}

@media (max-width: 480px) {

	.marketing-message {
		max-width: 250px;
		width: 100%;
	}
	.type_new {
		width: 100%;
		margin: 0 auto;
		max-width: 280px;
	}
	#reward-template {
		left: 74px;
		width: 120px;
		bottom: 72px;
		max-height: 145px;
	}


}

@media (max-width: 400px) {
	.manage-rewards .img { padding-top: 120px; }
}

@media (max-width: 300px) {
	button {
		width: 100%;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 0;
	}

	.file-info {
		display: block;
		margin: 10px 5px;
	}
}



.Card_position .card_drag_and_drop:nth-child(1) {
	top: 25px;
}
.Card_position .card_drag_and_drop:nth-child(2) {
	top: 80px;
}

.Card_position .card_drag_and_drop:nth-child(3) {
	top: 130px;
}

.Card_position .card_drag_and_drop:nth-child(4) {
	top: 170px;
}

.Card_position .card_drag_and_drop:nth-child(5) {
	top: 230px;
}

.marketing-popup-width-400 {    max-width: 400px;   }
.sign-divider-border {
	background: white;
position: relative;
z-index: 9999;
padding: 5px 15px;
margin: 0 auto;
}
.signup-hr-border-custom 	{
	position: absolute;
	top: 15px;
	width: 100%;
	padding: 0;
	margin: 0;
	left: 0;
	z-index: -1;
	height: 1px;
	background: #ececec;
}

.w-95 { width: 95px !important;}

.mybmr-agent button.close {
	position: absolute;
	right: -15px;
	background: #fff;
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
	opacity: 1;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -16px;
	z-index: 8;
}
.max-limit-height { max-height: 320px; overflow-y: auto; padding-bottom: 30px;}
.modal-dialog-centered { justify-content: center;}










.second-section-main .margin-top-minus { margin-top:-70px;}
.second-section-main { background:url(../img/main-bg.jpg) no-repeat center; background-size:cover;  display:inline-block; width:100%} 
.second-section-main .box-bg { background:url(../img/box-bg.jpg) no-repeat center; background-size:cover;}
.second-section-main .custom-input {background: transparent;    border: none; color:#000;    border-bottom: 3px solid #fff;    font-size: 20px; }
.second-section-main .custom-input:hover,.second-section-main .custom-input:focus {  border-bottom: 3px solid #efedec;  } 
.second-section-main ::placeholder {  color: #000;  opacity: 1;}
.second-section-main :-ms-input-placeholder {  color: #000;}
.second-section-main ::-ms-input-placeholder { color: #000;}
.second-section-main .custom-doller-text{  position: absolute;    left: 54px;    top: 5px;    font-size: 18px; }
.second-section-main .custom-edit-icon {left:30px;top:4px;}



.second-section-main .custom-table-01 .table-bordered td, .second-section-main .custom-table-01.table-bordered th {    border: 1px solid transparent;}
.second-section-main .custom-table-01 .table td, .second-section-main .custom-table-01 .table th {    padding: 4px 10px;   border: 1px solid transparent;}



.email-popup-main .modal-dialog {    max-width: 750px;   background: url(../img/main-bg.jpg) no-repeat center;    background-size: cover;   }
.email-popup-main .modal-content {    background-color:transparent;}
.email-popup-main .cusotam-bg {   margin: 0 auto;  background: #fff;}
.email-popup-main .text-secondary {    color: #000000 !important;}
.email-popup-main .custom-width-100 { width:100%;}
.email-popup-main .modal-body  {  }
.email-popup-main .middle-taxt-main {  background: url(../img/box-bg.jpg) no-repeat center; background-size: cover; padding: 20px;}



@media (max-width: 1100px) {

.second-section-main .custom-table-01 .table td, .second-section-main .custom-table-01 .table th {    padding: 4px 3px !important;}

}




@media (max-width: 520px) {

.second-section-main .custom-edit-icon {  left: 0; }

}